.div1{
    width: 8000px;
    height: 800px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -250px ;
    margin-left: -490px;
    overflow: hidden;
}
.bannerBox{
    width: 100%;
    height: 100%;
}
.bannerBox li,.bannerBox li a,.bannerBox li a img{
  width: 980px;
    height: 500px;
    display: block;
}
.bannerBox li{
    float: left;
    cursor: pointer;
}